body{
    background-color: lavender;
}

#titulo{
    display: block;
    text-align: center;
    margin-top: 50px;
}

#Horas{
    display: block;
    text-align: center;
}

#Horas label{
    font-size: 20px;
}

#Boton{
    background-color: blue;
    display: block;
    color: white;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
}

#ValorSalario{
    display: block;
    text-align: center;
    align-content: center;
    margin: 20px auto;
    border: 2px solid wheat;
    padding: 20px;
    font-size: 20px;
    width: 20%;
}

.campo{
    display: block;
    margin: 0 auto;
}